*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
       
  }
  
  body {
      font-size: 100%;
      background:  linear-gradient(68.15deg, #735c08 16.62%, #3aa241 85.61%);
    }
  
          .cabecalho{
          justify-content: space-around;
          padding: 24px;
          color: black;
                      }
  
          .cabecalho-menu {
           font-family: 'Sarala', sans-serif;
           display :flex;
           flex-direction: row;
           justify-content: space-around;
           padding: 22px;
           font-size: 26px;
           color: #000000;
     }
     
  
     .conteudo {
      display:flex;
      flex-direction:column;
      margin-bottom: 200px;
      border-top: 0.4px solid #000000;
    }
       
    .conteudo-principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }

      .conteudo-principal-escrito-titulo {
        
        font-family: 'Righteous', cursive;
        font-weight: 400;
        font-size: 40px;
        color: #21150b;
      }

      .conteudo-principal-escrito-subtitulo {
        
        font-family: 'Sarala';
        font-weight: 0;
        font-size: 40px;
        color: #0e0b08;
      }

  